body {
background-color: #95D7F9;
color: #38444A;
margin: 0px;
font-family: 'Montserrat', sans-serif;
}

.topBoard {

    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

.topBoard h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: auto;
}

.topBoard h2 {
    margin-top: 0px;
}

.apresention {
    text-align: center;
    background-color: #84A0AD;
    height: 250px;
    display: fle;
}

#myPhoto {
    float: left;
    border-radius: 10px;
}

#social_midia {
    display: flex;
    justify-content: space-around;
}

.midiaSocial {
    border: 3px solid #84A0AD;
    background-color: #ABCEE0;
    border-radius: 10px;
    padding: 5px 5px;
    color: #4A6161;
    font-size: 20px;
    place-content: center;
    text-decoration: none;
    margin: 1px;
}

.project {
    background-color: #84A0AD;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: auto;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.project h4,p {
    /* display: flex; */

    align-items: center;
    justify-content: center;
    margin: auto;
    /* justify-content: space-between;
    flex-direction: column; */
}

.Divi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

.linkProjeto{
    border-radius: 5px;
    padding: 1px 1px;
    color: #ABCEE0;
    font-size: 15px;
    text-decoration: none;
    
}

#projectnav {
    text-align: center;
}


footer {
    display: block;
    text-align: center;
    background-color: #84A0AD ;
    padding: 1px 0px 2px 1px;
}


/* @media (max-width: 600px) {
    .topBoard {
        border: 2px solid #2B87ED;
        border-radius: 10px;
        display: flex;
        justify-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .topBoard h1 {
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: auto;
    }
    
    .topBoard h2{
        margin-top: 0px;
    }
    
    .apresention{
        text-align: center;
        background-color: #2DF7BE;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    
    #myPhoto {
        align-items: flex-start;
    }
    
    .project {
        background-color: #2DF7BE;
        border-radius: 10px;
        display: flexbox;
        flex-direction: row;
        flex-basis: auto;
        width: 300px;
        height: auto;
    }
    
    .Projetos {
        display: block;
    }
    
    footer {
        text-align:center;
    }
    
    #projectnav{
        text-align: center;
        display: inline-flex;
    }
    
    .social_midia{
        display: inline-flex;
    }
    
    .midiaSocial{
        text-decoration: none;
    }
    
    /* ,Divi {
        flex-direction: row;
        display: flexbox;
    } */
/* } */

 